@media (min-width: 360px) and (max-width: 768px) {
  .modal-body img {
    max-width: 50%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .modal-content {
    margin-top: 110px;
    /* display: flex; */
    /* position: relative; */
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-box-shadow: 1px 0px 12px 1px rgba(194, 194, 194, 1);
    -moz-box-shadow: 1px 0px 12px 1px rgba(194, 194, 194, 1);
    box-shadow: 1px 0px 12px 1px rgba(194, 194, 194, 1);
  }
}

.modal-content {
  margin-top: 110px;
  /* display: flex; */
  /* position: relative; */
  border-radius: 40px;
  border: none;
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 1px 0px 12px 1px rgba(194, 194, 194, 1);
  -moz-box-shadow: 1px 0px 12px 1px rgba(194, 194, 194, 1);
  box-shadow: 1px 0px 12px 1px rgba(194, 194, 194, 1);
}

.modal-header {
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 2vw;
  left: -5vw;
  z-index: 9999;
  margin-left: 2%;
}
.arrow img {
  width: 5%;
  width: 43px;
  padding: 10px;
  z-index: 9999;
}
.arrow img:hover {
  background: #e4e3e3;
  border-radius: 50%;
}

.modal.fade.show {
  background: white;
}
.modal-body {
  padding-top: 0px;
  padding: 0px;
  display: flex;
  /* flex-wrap: wrap; */
  /* position: relative;
  flex: 1 1 auto; */
}
.modal-body img {
  max-width: 50%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

.img-fluid:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.btn-save-collection-modal {
  display: flex;
  margin-top: 20px;
  height: 50px;
  padding: 0px 24px;
}

.btn-save-collection-modal button {
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  width: 72px;
  border: none;
  color: white;
  background: #e60023;
  position: relative;
  justify-content: center;
  outline: none;
  /* margin-left: 30px; */
}

.btn-save-collection-modal button:hover {
  background: #cf001f;
}

.btn-save-collection-modal select {
  padding: 0px 14px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 40px;
  width: 148px;
  background: #efefef;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  scrollbar-arrow-color: #333333;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

.btn-save-collection-modal select:after {
  content: "\f078";
  -webkit-appearance: none;
  /* font: normal normal normal 17px/1 FontAwesome;
  color: #0ebeff;
  right: 11px;
  top: 6px;
  height: 34px;
  padding: 15px 0px 0px 8px;
  border-left: 1px solid #0ebeff; */
  position: absolute;
  pointer-events: none;
}

.btn-save-collection-modal select:hover {
  background: #e2e2e2;
}
.btn-icons-modal {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 30px;
  height: 50px;
}

.btn-icons-modal button {
  border: none;
  background: transparent;
  height: 24px;
  width: 24px;
  outline: none;
  /* border-radius: 50%; */
}
.btn-icons-modal img:hover {
  background: #e4e3e3;
  border-radius: 50%;
}

.btn-icons-modal img {
  cursor: pointer;
  /* height: 40px; */
  width: 40px;
  /* width: 25px; */
  /* border-radius: 50%; */
  padding: 5px;
}

.btn-share-modal {
  /* height: 60px; */
  width: 60px;
  /* background: #474747; */
  justify-content: center;
  /* right: 20px; */
  /* margin-right: 60px; */
  cursor: pointer;
}
.btn-share-modal img {
  width: 100%;
}

.btn-share-modal img:hover {
  background: #e4e3e3;
  border-radius: 50%;
}

.tags {
  padding: 5px;
  color: #333333;
  font-weight: bold;
  justify-content: center;
  right: 60px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  /* position: absolute; */
  bottom: 48px;
  padding: 10px;
  margin-left: 30px;
}

.link-image-modal a {
  padding: 5px;
  border-radius: 20px;
  color: #333333;
  height: 40px;
  font-weight: bold;
  background: #efefef;
  justify-content: center;
  right: 60px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  /* position: absolute; */
  bottom: 48px;
  padding: 10px;
  margin-left: 30px;
  outline: none;
}

.link-image-modal button:hover {
  background: #e2e2e2;
}
.link-image-modal img {
  height: 25px;
  margin-right: 10px;
}

.modal-infos {
  /* border-bottom: none; */
  display: flex;
  flex-wrap: wrap;
  /* width: 900px; */
  /* align-items: flex-start; */
  /* justify-content: flex-end; */
  /* padding: 1rem 1rem; */
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  /* flex-direction: row; */
}
