.header-content {
  z-index: 671;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-box {
  box-sizing: border-box;
}

/* .logo {
  justify-content: center;
  padding: 2%;
  padding: 10px;
  height: 48px;

  border-radius: 50%;
  margin-top: 3px;
  margin-left: 15px;

  margin-right: 15px;
  width: 48px;
  display: flex;
}

.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 9999;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  height: 65px;
  background: white;
} */
